{%- extends "base.html" %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ url_for('static', filename='img/warfallen_logo_metal_1920x1080r.png') }}" class="img-fluid"
                     alt="WarFallen Server Administration">
            </div>
        </div>
    </div>
{%- endblock %}
