{%- extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ utils.flashed_messages(messages) }}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}

        <div class="row">
            <div class="col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <form action="" method="post">
                            {{ match_action_form.hidden_tag() }}
                            <div class="row">{{ match_action_form.submit_restart_match }}</div>
                            <div class="row">{{ match_action_form.submit_kick_all_bots }}</div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Remote Console</div>
                            <div class="panel-body" style="overflow-y: auto; height: 500px; background: #fffbe0;">

                                {% for res_line in session_data['rcon_cmd_results'] %}
                                    {{ res_line }}
                                    <br>
                                {% endfor %}
                            </div>

                            <div class="panel-footer">
                                <form action="" method="post">
                                    {{ rcom_cmd_line_form.hidden_tag() }}
                                    {{ rcom_cmd_line_form.submit_rcon_cmd }}
                                    {{ rcom_cmd_line_form.cmd_line }}

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">Server Information</div>

                        <div class="panel-body">
                            {% with server_info = session_data['server_info_json'] %}
                                <div class="row">
                                    <div class="col-sm-4">Server Name:</div>
                                    <div class="col-sm-8">{{ server_info['server_name'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Server Adress:</div>
                                    <div class="col-sm-8">{{ session_data['rcon_session'].ip_address }}:{{ session_data['rcon_session'].rcon_port }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Server MOTD:</div>
                                    <div class="col-sm-8">{{ server_info['server_motd'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Server Password:</div>
                                    <div class="col-sm-8">{{ server_info['server_password'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Players:</div>
                                    <div class="col-sm-8">{{ server_info['num_players'] }}/{{ server_info['max_players'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Bots:</div>
                                    <div class="col-sm-8">{{ server_info['num_bots'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Current Map:</div>
                                    <div class="col-sm-8">{{ server_info['current_map'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Game Mode:</div>
                                    <div class="col-sm-8">{{ server_info['game_mode_description'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Match State:</div>
                                    <div class="col-sm-8">{{ server_info['game_match_state'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Remaining Time:</div>
                                    <div class="col-sm-8">{{ server_info['time_remaining'] }} seconds</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Score:</div>
                                    <div class="col-sm-8">{{ server_info['score_old_knights'] }}:{{ server_info['score_new_order'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Next Map:</div>
                                    <div class="col-sm-8">{{ server_info['next_map'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Server Stats:</div>
                                    <div class="col-sm-8">{{ server_info['server_stats'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Server Build:</div>
                                    <div class="col-sm-8">{{ server_info['build'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">Auto fill bots:</div>
                                    <div class="col-sm-8">{{ server_info['auto_fill_bots'] }}</div>
                                </div>

                            {% endwith %}
                        </div>

                        <div class="panel-footer">
                            <form method="post">
                                {{ server_refresh_form.hidden_tag() }}
                                {{ server_refresh_form.refresh_server_submit }}
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{%- endblock %}
</div>